{% extends "NYRP/base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h1 style="text-align:center">Submit Feedback</h1>
            <form method="post">
                {% csrf_token %}
                <h2 style="text-align:center">New Features</h2>
                <p style="text-align:justify">
                    If you'd like to leave feedback, or vote on the priority of future features, please do so below!
                    From the options listed below, rank each with what you'd like to see the most where 1 is the most
                    important, 3 is the least, and "---" is no preference. Ties are allowed.
                </p>
                <div class="row">
                    <div class="col-md-2" style="text-align:center">
                        <h2>Rank</h2>
                    </div>
                    <div class="col-md-10">
                        <h2>Option</h2>
                    </div>
                </div>
                {% for feature_request in features %}
                    <div class="row">
                        <div class="col-md-2" style="padding-top: 16px; padding-bottom: 11px;">
                            <select class="form-control" id="priority_{{feature_request.name}}" name="priority_{{feature_request.name}}">
                               {% for priority in priorities %}
                                   <option value="{{priority.0}}">{{priority.1}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-10" style="padding-bottom: 5px;">
                            <h3>{{feature_request.pretty_name}}</h3>
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                            <div class="row collapse" id="which_{{feature_request.name}}" style="padding-left: 15px;">
                                <label>{{feature_request.help_text}}</label>
                                {% if feature_request.choices %}
                                    <select class="form-control" id="text_{{feature_request.name}}" name="text_{{feature_request.name}}">
                                        {% for select_name in feature_request.choices %}
                                            <option value="{{select_name.0}}">{{select_name.1}}</option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    <textarea class="form-control" id="text_{{feature_request.name}}" name="text_{{feature_request.name}}" rows="3" maxlength="500"></textarea>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <h2 style="text-align:center">Other Feedback</h2>
                <p>Please add any other feedback you have here</p>
                <textarea class="form-control text" id="misc_feedback" rows="3" maxlength="500" name="misc_feedback"></textarea>
                <input class="btn btn-lg btn-block btn-primary" type="submit" name="submit_feedback" value="Submit Feedback" >
            </form>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <!-- Script to collapse the selections -->
    <script type="text/javascript">
    var coll = document.getElementsByClassName("collapse");
    for(i = 0; i < coll.length; i++) {
        let baseStr = coll[i].id.substring(coll[i].id.indexOf("_"));
        // If clicked refresh, load the slide up/down
        if(document.getElementById("priority" + baseStr).value == "0") {
            document.getElementById("text" + baseStr).required = false;
            $("#which" + baseStr).slideUp();
        } else {
            document.getElementById("text" + baseStr).required = true;
            $("#which" + baseStr).slideDown();
        }
        // If clicked, run the slide up/down
        document.getElementById("priority" + baseStr).addEventListener("input", function(e) {
            if(e.target.value == 0) {
                document.getElementById("text" + baseStr).required = false;
                $("#which" + baseStr).slideUp();
            } else {
                document.getElementById("text" + baseStr).required = true;
                $("#which" + baseStr).slideDown();
            }
        });
    }
    </script>
    <!--Popup for errors not caught during form validation pre-submission-->
	{% if messages %}
		<div id="errorMessage" class="modal fade" role="dialog">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 style="text-align:center">{% for message in messages %}{{ message }}{% endfor %}</h4>
			  </div>
			</div>
		  </div>
		</div>
		<!--Small local javascript to run the modal-->
		<script type="text/javascript">
			$(window).on("load",function(){
				$("#errorMessage").modal("show");
				// Show the error for five seconds
				myModalTimeout = setTimeout(function() {
					$("#errorMessage").modal("hide");
				}, 5000);
			});
		</script>
	{% endif %}
</div>
{% endblock %}