{% extends "NYRP/base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					New York Regents Prep!
				</h1>
			</div>
			<p>
				A new way to prepare for the regents exams! Whether it's Chemistry, Physics, or History, study at your own pace with practice questions in an easy to use format! Customize the years and units for each subject to get the practice that's custom tailored for your needs. Receive feedback about what areas you could use more work on!
			</p>
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="Chemistry Thumbnail" src="{% static 'NYRP/CHEM.jpg'%}" />
						<div class="caption">
							<h3>
								Chemistry
							</h3>
							<p>
								Practice recent regents exams, or study by unit!
							</p>
							<p>
								<a class="btn btn-primary" href="{% url 'prep' 'Chemistry' %}">Start</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="U.S. History &amp; Government" src="{% static 'NYRP/USHG.jpg' %}" />
						<div class="caption">
							<h3>
								U.S. History &amp; Government
							</h3>
							<p>
								Practice recent regents exams, or study by Period!
							</p>
							<p>
								<a class="btn btn-primary" href="{% url 'prep' 'US_History_And_Government'%}">Start</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="Algebra I Thumbnail" src="{% static 'NYRP/ALG1.jpg' %}" />
						<div class="caption">
							<h3>
								Algebra I
							</h3>
							<p>
								Practice recent regents exams, or study by unit!
							</p>
							<p>
								<a class="btn btn-primary"  href="{% url 'prep' 'Algebra_I'%}">Start</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="Algebra II Thumbnail" src="{% static 'NYRP/ALG2.jpg' %}" />
						<div class="caption">
							<h3>
								Algebra II (Common Core)
							</h3>
							<p>
								Practice recent regents exams, or study by unit!
							</p>
							<p>
								<a class="btn btn-primary" href="{% url 'prep' 'Algebra_II_Common_Core' %}">Start</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="Global History Thumbnail" src="{% static 'NYRP/GHG2.jpg' %}" />
						<div class="caption">
							<h3>
								Global History &amp; Geography II
							</h3>
							<p>
								Practice recent regents exams, or study by unit!
							</p>
							<p>
								<a class="btn btn-primary" href="{% url 'prep' 'Global_History_And_Geography_II' %}">Start</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="Earth Science Thumbnail" src="{% static 'NYRP/ESCI.jpg' %}" />
						<div class="caption">
							<h3>
								Earth Science
							</h3>
							<p>
								Practice recent regents exams, or study by unit!
							</p>
							<p>
								<a class="btn btn-primary" href="{% url 'prep' 'Earth_Science' %}">Start</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<p>
				More coming soon!
			</p>
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="Physics Thumbnail"  src="{% static 'NYRP/PHYS.jpg' %}" />
						<div class="caption">
							<h3>
								Physics
							</h3>
							<p>
								Practice recent regents exams, or study by unit!
							</p>
							<p>
								<!--Usually an a tag, but a disabled button for now-->
								<button disabled class="btn btn-primary" href="{% url 'prep' 'Physics' %}">Coming Soon!</button>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="Geometry Thumbnail" src="{% static 'NYRP/GEOM.jpg' %}" />
						<div class="caption">
							<h3>
								Geometry
							</h3>
							<p>
								Practice recent regents exams, or study by unit!
							</p>
							<p>
								<button disabled class="btn btn-primary" href="{% url 'prep' 'Geometry' %}">Coming Soon!</button>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="Living Environment Thumbnail"  src="{% static 'NYRP/LIVE.jpg' %}" />
						<div class="caption">
							<h3>
								Living Environment
							</h3>
							<p>
								Practice recent regents exams, or study by unit!
							</p>
							<p>
								<!--Usually an a tag, but a disabled button for now-->
								<button disabled class="btn btn-primary" href="{% url 'prep' 'Living_Environment' %}">Coming Soon!</button>
							</p>
						</div>
					</div>
				</div>
			</div>
			<!--<div><h1>Find a bug? Want a new feature? Leave a Message!</h1></div>-->
		</div>
	</div>
	</script>
    <!--Popup for Messages-->
	{% if messages %}
		<div id="errorMessage" class="modal fade" role="dialog">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 style="text-align:center">{% for message in messages %}{{ message }}{% endfor %}</h4>
			  </div>
			</div>
		  </div>
		</div>
		<!--Small local javascript to run the modal-->
		<script type="text/javascript">
			$(window).on("load",function(){
				$("#errorMessage").modal("show");
				// Show the error for five seconds
				myModalTimeout = setTimeout(function() {
					$("#errorMessage").modal("hide");
				}, 5000);
			});
		</script>
	{% endif %}
</div>
{% endblock %}