{% extends "NYRP/base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
	<form method="post">
	{% csrf_token %}
	<div class="row" >
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div style="text-align:center"></div>
			<div class="page-header ">
				<h1 class="text-center">{{title}}</h1>
			</div>
			<h2 class="text-center">Pick A Way To Get Questions!</h2>
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-4">
			<h2 class="text-center">Select Questions Based On Unit</h2>
			<button type="button" class="btn btn-default btn-lg btn-block" onclick="checkAllUnits()">Select All Units</button>
			<div class="row" style=" padding-bottom: 20px;">
				<div class="col-md-12">
					{% for checkbox in form.units %}
					<label class="btn btn-default" name="units" style="width: 100%; white-space: normal;">Unit {{ checkbox.choice_label }} {{ checkbox.tag }} </label>
						{% if forloop.counter|divisibleby:"2" %}
							<div class="row"></div>
						{% endif %}
					{% endfor %}
					<!--Alternative method for displaying Buttons
					{% if false  %}
						<div class="btn-group-vertical" data-toggle="buttons" style="width: 100%;">
						{% for checkbox in form.units %}
							<label class="btn btn-default" name="units" >
								{{ checkbox.tag }} {{ checkbox.choice_label }}
							</label>
						{% endfor %}
						</div>
					{% endif %}-->
				</div>
			</div>
			<input class="btn btn-lg btn-block btn-warning" type="submit" name="by_unit" value="Practice These Questions!" >
			<input class="btn btn-lg btn-block btn-warning" type="submit" name="by_unit_pdf" value="Print A PDF" >
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<h2 class="text-center">Take Exams Based On Date</h2>
			<button type="button" class="btn btn-default btn-lg btn-block" onclick="checkAllTests()">Select All Exams</button>
			<div style=" white-space: nowrap; padding-bottom: 20px;">
				{% for checkbox in form.exams %}
					<label class="btn btn-default" name="exams" style="width: 33%;">{{ checkbox.choice_label }} {{ checkbox.tag }}</label>
					{% if forloop.counter|divisibleby:"3" %}
						<div class="row"></div>
					{% endif %}
				{% endfor %}
			</div>
			<input class="btn btn-lg btn-block btn-warning" type="submit" name="by_exam" value="Take These Exams!" >
			<input class="btn btn-lg btn-block btn-warning" type="submit" name="by_exam_pdf" value="Print A PDF" >
		</div>
		<div class="col-md-1"></div>
	</div>
		{{form.non_field_errors}}
	</form>

	<!--Setting up a pop up if the user selected options where there are no questions-->
	{% if messages %}
		<div id="errorMessage" class="modal fade" role="dialog">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 style="text-align:center">{% for message in messages %}{{ message }}{% endfor %}</h4>
			  </div>
			</div>
		  </div>
		</div>
		<!--Small local javascript to run the modal-->
		<script type="text/javascript">
			$(window).on("load",function(){
				$("#errorMessage").modal("show");
				// Show the error for five seconds
				myModalTimeout = setTimeout(function() {
					$("#errorMessage").modal("hide");
				}, 5000);
			});
		</script>
	{% endif %}
</div>
{% endblock %}