{% extends "NYRP/base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
	<form method="post">
	{% csrf_token %}
	<div class="row" >
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div style="text-align:center"></div>
			<div class="page-header ">
				<h1 class="text-center">{{title}}</h1>
			</div>
			<h2 class="text-center">Pick A Way To Get Questions!</h2>
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-4">
			<h2 class="text-center">Select Questions Based On Unit</h2>
			<button type="button" class="btn btn-default btn-lg btn-block" onclick="checkAllUnits()">Select All Units</button>
			<div class="row" style=" padding-bottom: 20px;">
				<div class="col-md-12">
					{% for checkbox in form.units %}
					<label class="btn btn-default" name="units" style="width: 100%; white-space: normal;">Unit {{ checkbox.choice_label }} {{ checkbox.tag }} </label>
						{% if forloop.counter|divisibleby:"2" %}
							<div class="row"></div>
						{% endif %}
					{% endfor %}
					<!--Alternative method for displaying Buttons
					{% if false  %}
						<div class="btn-group-vertical" data-toggle="buttons" style="width: 100%;">
						{% for checkbox in form.units %}
							<label class="btn btn-default" name="units" >
								{{ checkbox.tag }} {{ checkbox.choice_label }}
							</label>
						{% endfor %}
						</div>
					{% endif %}-->
				</div>
			</div>
			<input class="btn btn-lg btn-block btn-warning" type="submit" name="by_unit" value="Practice These Questions!" >
			<input class="btn btn-lg btn-block btn-warning" type="submit" name="by_unit_pdf" value="Print A PDF" >
		</div>
		<div class="col-md-2" style="padding-left: 20px; padding-right: 20px">
		<h2 class="text-center">Advanced Options</h2>
		<button class="btn btn-lg btn-block btn-default" type="button" name="by_unit_advanced" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Show/Hide</button>
			<div class="collapse" id="collapseExample">
				<p>
					Allows some more control of the type of questions to select and how the test is formatted. Most
					options apply to both printed and web versions of the exams. Print only versions mostly relate to
					saving ink or paper.
				</p>
				<p class="text-center">_________________________</p>
				<div class="row">
					<div class="col-md-7">
						<p class="text-center">Maximum number of questions</p>
					</div>
					<div class="col-md-5 checkbox">
  						<input type="number" class="form-control" min="1" value="50" name="max_qs">
					</div>
				</div>
				<!-- <div class="row">
					<div class="col-md-7">
						<p class="text-center">Include questions requiring reference tables</p>
					</div>
					<div class="col-md-5 checkbox">
						<input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-width="75" checked=checked name="ref_qs">
					</div>
				</div> -->
				<div class="row">
					<div class="col-md-7">
						<p class="text-center">Include questions with diagrams</p>
					</div>
					<div class="col-md-5 checkbox">
						<input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-width="75" checked=checked name="diagram_qs">
					</div>
				</div>
				<!-- <p class="text-center">---Web Version Only---</p>
				<div class="row">
					<div class="col-md-7">
						<p class="text-center">Show incorrect answers immediately</p>
					</div>
					<div class="col-md-5 checkbox">
						<input type="checkbox" data-toggle="toggle" data-on="On" data-off="Off" data-width="75" checked=checked name="wrong_soon">
					</div>
				</div> -->
				<p class="text-center">---Print Version Only---</p>
				<div class="row">
					<div class="col-md-7">
						<p class="text-center">Print answer sheets</p>
					</div>
					<div class="col-md-5 checkbox">
						<input type="checkbox" data-toggle="toggle" data-on="On" data-off="Off" data-width="75" checked=checked name="with_answer">
					</div>
				</div>
				<div class="row">
					<div class="col-md-7">
						<p class="text-center">Include exam version in title</p>
					</div>
					<div class="col-md-5 checkbox">
						<input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-width="75" name="exam_with_version">
					</div>
				</div>
				<div class="row">
					<div class="col-md-7">
						<p class="text-center">Fill in answer key</p>
					</div>
					<div class="col-md-5 checkbox">
						<input type="checkbox" data-toggle="toggle" data-on="Fill In" data-off="X Mark" data-width="75" checked=checked name="fill_in_key">
					</div>
				</div>
				<div class="row">
					<div class="col-md-7">
						<p class="text-center">Maximum diagram image height</p>
					</div>
					<div class="col-md-5 checkbox">
						<input type="number"  class="form-control" value="500" name="max_img_height" min="1" max="500">
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<h2 class="text-center">Take Exams Based On Date</h2>
			<button type="button" class="btn btn-default btn-lg btn-block" onclick="checkAllTests()">Select All Exams</button>
			<div style=" white-space: nowrap; padding-bottom: 20px;">
				{% for checkbox in form.exams %}
					<label class="btn btn-default" name="exams" style="width: 33%;">{{ checkbox.choice_label }} {{ checkbox.tag }}</label>
					{% if forloop.counter|divisibleby:"3" %}
						<div class="row"></div>
					{% endif %}
				{% endfor %}
			</div>
			<input class="btn btn-lg btn-block btn-warning" type="submit" name="by_exam" value="Take These Exams!" >
			<input class="btn btn-lg btn-block btn-warning" type="submit" name="by_exam_pdf" value="Print A PDF" >
		</div>
		<div class="col-md-1"></div>
	</div>
		{{form.non_field_errors}}
	</form>

	<!--Setting up a pop up if the user selected options where there are no questions-->
	{% if messages %}
		<div id="errorMessage" class="modal fade" role="dialog">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 style="text-align:center">{% for message in messages %}{{ message }}{% endfor %}</h4>
			  </div>
			</div>
		  </div>
		</div>
		<!--Small local javascript to run the modal-->
		<script type="text/javascript">
			$(window).on("load",function(){
				$("#errorMessage").modal("show");
				// Show the error for five seconds
				myModalTimeout = setTimeout(function() {
					$("#errorMessage").modal("hide");
				}, 5000);
			});
		</script>
	{% endif %}
</div>
{% endblock %}