{% extends "NYRP/base.html" %}
{% load static %}
{% block content %}

{% if false %}
<!--Option One-->
<div class="container-fluid">
	<div class="row"style="text-align:center">
		<div class="col-md-12">
		<form method="post">
		{% csrf_token %}
			<div class="row" >
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
					<div style="text-align:center"></div>
					<div class="page-header">
						<h1>Chemistry</h1>
					</div> 
					<input class="btn btn-lg btn-block btn-warning" type="submit" value="Start!" >
					<h3>
						Or Personalize Your Experience!
					</h3>
				</div>
				<div class="col-md-4">
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<h2>Pick The Units You Want To Be Tested On</h2>
					
					{% if form.units.errors|length > 0 %}
						You Must Select At Least One Unit
					{% endif %}
					<ul style="list-style-type:none">
						{% for checkbox in form.units %}
							<li><label class="btn btn-default  btn-block">
								{{ checkbox.tag }} {{ checkbox.choice_label }}
							</label></li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-md-4">
					<h2>
						Select The exams To Pick From
					</h2>
					{% if form.exams.errors|length > 0 %}
						You Must Select At Least One Year
					{% endif %}
					<ul style="list-style-type:none">
						{% for checkbox in form.exams %}
							<li><label class="btn btn-default  btn-block">
								{{ checkbox.tag }} {{ checkbox.choice_label }}
							</label></li>
						{% endfor %}
						More exams Comming Soon!
					</ul>
				</div>
				<div class="col-md-4">
					<h2>
						Pick The Maximum Number Of Questions You Want To Take
					</h2>
					{% if form.num_qs.errors|length > 0 %}
						{{ form.num_qs.errors.as_text}}
					{% endif %}
					<div class="fieldWrapper">
						{{ form.num_qs }}
						{% if form.num_qs.help_text %}
						<p class="help">{{ num_qs.help_text|safe }}</p>
						{% endif %}
					</div>
					
					
				</div>
			</div>
			</form>
		</div>
	</div>
</div>
{% endif %}

<!--Option Two-->
{% if false %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h1 class="text-center">Chemistry</h1>
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<button type="button" class="btn btn-info btn-lg btn-block" onclick="expand('examButtons')">&#8659; Get Questions By Exam &#8659;</button>
			<div class="row" id="examButtons" style="display:none;">
				<div class="row">
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-block btn-default  btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">|</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-block btn-default  btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">|</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-block btn-default  btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">|<button type="button" class="btn btn-default  btn-block btn-block">Start!</button></div>
					<div class="col-md-4"></div>
				</div>
			</div>


			<button type="button" class="btn btn-info btn-lg btn-block" onclick="expand('units')">&#8659; Get Questions By Units &#8659;</button>
			<div class="row" id="units" style="display:none;">
				<div class="row">
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-block btn-default  btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">|</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-block btn-default  btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">|</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-block btn-default  btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-default  btn-block btn-block">Default</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">|<button type="button" class="btn btn-default  btn-block btn-block">Start!</button></div>
					<div class="col-md-4"></div>
				</div>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
{% endif %}

<!--Option Three-->
{% if false %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-4">
			<h1 class="text-center">
				h3. Lorem ipsum dolor sit amet.
			</h1>
			<div class="row">
				<div class="col-md-3">

					<button type="button" class="btn btn-default  btn-block">
						Default
					</button>
				</div>
				<div class="col-md-3">

					<button type="button" class="btn btn-default  btn-block">
						Default
					</button>
				</div>
				<div class="col-md-3">

					<button type="button" class="btn btn-default  btn-block">
						Default
					</button>
				</div>
				<div class="col-md-3">

					<button type="button" class="btn btn-default  btn-block">
						Default
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">

					<button type="button" class="btn btn-default  btn-block">
						Default
					</button>
				</div>
				<div class="col-md-3">

					<button type="button" class="btn btn-default  btn-block">
						Default
					</button>
				</div>
				<div class="col-md-3">

					<button type="button" class="btn btn-default  btn-block">
						Default
					</button>
				</div>
				<div class="col-md-3">

					<button type="button" class="btn btn-default  btn-block">
						Default
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">

					<button type="button" class="btn btn-default  btn-block">
						Default
					</button>
				</div>
				<div class="col-md-3">

					<button type="button" class="btn btn-default  btn-block">
						Default
					</button>
				</div>
				<div class="col-md-3">

					<button type="button" class="btn btn-default  btn-block">
						Default
					</button>
				</div>
				<div class="col-md-3">

					<button type="button" class="btn btn-default  btn-block">
						Default
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">

					<button type="button" class="btn btn-default  btn-block">
						Default
					</button>
				</div>
				<div class="col-md-3">

					<button type="button" class="btn btn-default  btn-block">
						Default
					</button>
				</div>
				<div class="col-md-3">

					<button type="button" class="btn btn-default  btn-block">
						Default
					</button>
				</div>
				<div class="col-md-3">

					<button type="button" class="btn btn-default  btn-block">
						Default
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">

					<button type="button" class="btn btn-lg btn-block btn-warning">
						Default
					</button>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<h1 class="text-center">
				OR
			</h1>
		</div>
		<div class="col-md-4">
			<h1 class="text-center">
				h3. Lorem ipsum dolor sit amet.
			</h1>
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-3">
				</div>
				<div class="col-md-3">
				</div>
				<div class="col-md-3">
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-3">
				</div>
				<div class="col-md-3">
				</div>
				<div class="col-md-3">
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-3">
				</div>
				<div class="col-md-3">
				</div>
				<div class="col-md-3">
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-3">
				</div>
				<div class="col-md-3">
				</div>
				<div class="col-md-3">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
{% endif %}

<!--Option four-->
<div class="container-fluid">
	<form method="post">
	{% csrf_token %}
	<div class="row" >
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div style="text-align:center"></div>
			<div class="page-header ">
				<h1 class="text-center">{{title}}</h1>
			</div>
			<h2 class="text-center">Pick A Way To Get Questions!</h2>
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-4">
			<h2 class="text-center">Select Questions Based On Unit</h2>
			<button type="button" class="btn btn-default btn-lg btn-block" onclick="checkAllUnits()">Select All Units</button>
			<div class="row">
				<div class="col-md-12">
					{% for checkbox in form.units %}
					<label class="btn btn-default" name="units" style="width: 100%; white-space: normal;">Unit {{ checkbox.choice_label }} {{ checkbox.tag }} </label>
						{% if forloop.counter|divisibleby:"2" %}
							<div class="row"></div>
						{% endif %}
					{% endfor %}
					<!--Alternative method for displaying Buttons
					{% if false  %}
						<div class="btn-group-vertical" data-toggle="buttons" style="width: 100%;">
						{% for checkbox in form.units %}
							<label class="btn btn-default" name="units" >
								{{ checkbox.tag }} {{ checkbox.choice_label }}
							</label>
						{% endfor %}
						</div>
					{% endif %}-->
				</div>
			</div>
			<input class="btn btn-lg btn-block btn-warning" type="submit" name="by_unit" value="Practice These Questions!" >
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<h2 class="text-center">Take Exams Based On Date</h2>
			<button type="button" class="btn btn-default btn-lg btn-block" onclick="checkAllTests()">Select All Exams</button>
			<div style=" white-space: nowrap;">
				{% for checkbox in form.exams %}
					<label class="btn btn-default" name="exams" style="width: 33%;">{{ checkbox.choice_label }} {{ checkbox.tag }}</label>
					{% if forloop.counter|divisibleby:"3" %}
						<div class="row"></div>
					{% endif %}
				{% endfor %}
			</div>
			<input class="btn btn-lg btn-block btn-warning" type="submit" name="by_exam" value="Take These Exams!" >
		</div>
		<div class="col-md-1"></div>
	</div>
		{{form.non_field_errors}}
	</form>

	<!--Setting up a pop up if the user selected options where there are no questions-->
	{% if messages %}
		<div id="errorMessage" class="modal fade" role="dialog">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 style="text-align:center">{% for message in messages %}{{ message }}{% endfor %}</h4>
			  </div>
			</div>
		  </div>
		</div>
		<!--Small local javascript to run the modal-->
		<script type="text/javascript">
			$(window).on("load",function(){
				$("#errorMessage").modal("show");
				// Show the error for five seconds
				myModalTimeout = setTimeout(function() {
					$("#errorMessage").modal("hide");
				}, 5000);
			});
		</script>
	{% endif %}
</div>
{% endblock %}